@model ST10084225_FarmCentral_MVC.Models.ViewModels.FarmerViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Farmer Search";
}

<div class="card">
    <div class="card-header">
        <h1>Farmer's Inventory</h1>
        <partial name="_DateRangePartial" model="Model.Filter" />
    </div>
</div>


<partial name="_FarmerSearchpartial" model="Model.Products"/>